@media screen and (max-width: 550px) {
	
	html body p.title{
		text-align: left;
		margin-left:10px;
		font-size: 17px;
	}	
	
	html body #header-area-bottom{
		width: 100%;
		min-height:300px;
	}
	
	html body #primary-navigation,
	.site-branding{
		text-align:left;
		max-width: 300px;
		margin: 0px;
		text-transform:uppercase;
		font-size:14px;
	}
	
	.nav-menu-standard ul{
		margin: 0px;
	}
	
	.single article, #sidebar-bottom, #comments{
		max-width:300px;
	}

	.single svg{
		display: none;
	}	
}